.data{
  font-family: "Poppins", sans-serif;
  background-color: #e8f2f4;
  color: #333;
}


.container {
  display: flex;
  flex-direction: column;

}

.header {
  background-color: #1e2d48;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

img{
  margin-top: 5px;
  width: 150px;
  height: auto
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 62px 31px 42px;
  gap: 32px;
}

/* Left Panel */
.left-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.left-panel h1 {
  font-size: 36px;
  font-weight: bolder;}

.left-panel p {
  font-size: 16px;
  margin: 0;
}

.info-group {
  border: 1px solid #000;
  background-color: #E8F2F4;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.alignment{
  display: flex;
  justify-content: space-between;;
}

.alignment p{
  margin: 0;
  font-size: 14px;
  line-height: 1;
}

.info-group h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.info-group p {
  margin: 4px 0;
}

/* Right Panel */
.right-panel {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #eef3fa;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #000;
  margin-top: 65px;
}



.right-panel h3 {
  font-size: 24px;
}

.right-panel .logArea {
  width: 100%;
  height: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
}

.btn.stop {
  background-color: #000;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btnRap{
  color: white;
  padding: 8px 0px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.reset{
  background-color: #000;
  color: white;
  border-radius: 18px;
  border: none;
  width: 150px;
  height: 35px;
}

.btn.stop:hover {
  background-color: #242424;
}

.reset:hover {
  background-color: #242424;
}


/* Footer */
.footer {
  background-color: #1e2d48;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 13px;
  overflow: hidden;
}
