<div class="container">
  <div class="header">
    <h1>EVENT PULSE</h1>
  </div>
  <div class="content">
    <!-- Left Panel -->
    <div class="left-panel">
      <h1>Dashboard</h1>
      <p>Monitor the simulation in real-time and manage its progress.</p>
      <div class="info-group">
        <h3>Simulation start time</h3>
        <input type="text" placeholder="Simulation start time" />
      </div>
      <div class="info-group">
        <h3>User configurations</h3>
        <p>Target Tickets: {{config.totalTicket}} </p>
        <p>Ticket Release Rate: {{config.ticketReleaseRate}} </p>
        <p>Ticket Retrieval Rate {{config.consumerRetrievalRate}}</p>
        <p>Ticket Pool Capacity: {{config.ticketPoolCapacity}}</p>
      </div>
      <div class="info-group">
        <h3>Current statistics</h3>
        <p>Tickets in Pool: --</p>
        <p>Total Tickets Produced: --</p>
        <p>Total Tickets Consumed: --</p>
        <p>Remaining Tickets: --</p>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="right-panel">
      <h3>Real-time Logs</h3>
      <div class="logArea">

      </div>
      <button class="btn stop" (click)="stopSimulation()" >Stop Simulation</button>
    </div>
  </div>
  <footer class="footer">
    <p>© 2024 Event Pulse. All rights reserved.</p>
    <p>Object Oriented Programming CW</p>
    <p>20222329/w2052938</p>
  </footer>
</div>
