<div class="data">
<div class="container">
  <div class="header">
    <!-- <h1>EVENT PULSE</h1> -->
    <img src="../EventPulse.png" alt="Event Pulse Logo" />
  </div>
  <div class="content">
    <!-- Left Panel -->
    <div class="left-panel">
      <h1>Dashboard</h1>
      <p>Monitor the simulation in real-time and manage its progress.</p>
      <div class="info-group">
        <h3>Simulation IDs</h3>
        <div class="id-list">
          <ul>
            <li
              *ngFor="let id of simulationIds; let i = index"
              (click)="fetchLogsForSimulation(id); currentIndex = i"
              [class.selected]="id === selectedSimulationId"
            >
              Simulation ID: {{ id }} (Click)
            </li>
          </ul>
        </div>
        <button class="btn" (click)="fetchSimulationIds()">View Simulation IDs</button>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="right-panel">
      <div class="thisIsPlay">
        <h3>Simulation Logs</h3>
        <a href="/mainpage" class="back-to-home">← Back To Home</a>
      </div>

      <div class="log-area">
        <ul>
          <li *ngFor="let log of logs">{{ log.message }}</li>
        </ul>
      </div>
      <div class="log-buttons">
        <button class="btn" (click)="showPreviousSimulation()" >Previous Log</button>
        <button class="btn" (click)="showNextSimulation()">Next Log</button>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>© Aashif Sajah W2052938</p>
  </footer>
</div>
</div>
